.container {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.question,
.answer
 {
  margin: 0.25rem;
  border: solid;
  border-radius: 5%;
}
.form {
    margin: 0 auto;
    padding: 1em;
    border: black solid 2px;
    border-radius: 7px;
    width: fit-content;

}
.message, final-message {
  margin: 0.25 rem 0 0 0;
  font-weight: 700;
  max-width: 50%;
}
.card {
  display: inline-flex;
  justify-content: center;
  padding: 0.25rem;
  list-style: none;
  border: solid;
  border-radius: 10%;
  font-weight: 700;
  max-width: 7rem;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.no,
.yes {
  margin: 0.25rem;
}
.nav, .newCard_button, .newUser_button {
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: 700;
  background: darkgray;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  width: fit-content;
}
@media (min-width: 35rem) {
  .nav {
    font-size: 1rem;
    padding: 0.35rem 0.7rem;
  }
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.cards {
  margin-top: .5rem
}

